PORT=5000
MONGO_URL=mongodb+srv://suhaniprajapati712_db_user:dCStgaDGrifd6WfC@cluster0.bq8bumn.mongodb.net/eventora
EMAIL_USER=suhaniprajapati712@gmail.com
EMAIL_PASS=kfxy vrrc tojd lziu
JWT_SECRET=mysecretkey123